<launch>

    <node pkg="optim" type="test_problem_node.py" name="test_problem" output="screen">
        <rosparam>
            query_time: 1.0
        </rosparam>
    </node>

    <node pkg="optim" type="BayesianOptimizer.py" name="test_optimizer" output="screen" required="true" launch-prefix="xterm -hold -e pdb">
        <rosparam>
            interface:
                topic: test_problem/get_critique
                verbose: true

            reward_model:
                type: gaussian_process

            auxiliary_optimizer:
                type: cma
                mode: max
                num_restarts: 0
                tolfun: 1e-3
                tolx: 1e-3
                maxfevals: 500

            initialization:
                num_samples: 10
                method: uniform

            dim: 6
            lower_bounds: -1
            upper_bounds: 1
            num_initial_samples: 10
        </rosparam>
    </node>

</launch>