<launch>

    <node pkg="bandito" type="bandit_tester.py" name="test_problem" output="screen">
        <rosparam>
            query_time: 0.1
        </rosparam>
    </node>

    <node pkg="bandito" type="ucbv_bandit.py" name="test_bandit" output="screen">
        <rosparam>
            critic_service: test_problem/get_critique

            random_seed: 1

            num_rounds: 1000
            num_arms: 30
            reward_scale: 1
            criteria_c: 1

            arm_dim: 2
            arm_lower_limit: -1
            arm_upper_limit: 1

            <!-- load_path: /home/humphreh/Documents/test_prog.pkl -->
            progress_path: /home/humphreh/Documents/test_prog.pkl
            output_path: /home/humphreh/Documents/test_out.pkl
        </rosparam>
    </node>

</launch>